<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Il2CppDumper.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <Il2CppDumper.Properties.Settings>
      <setting name="BinaryFileTxtBox" serializeAs="String">
        <value />
      </setting>
      <setting name="DatFileTxtBox" serializeAs="String">
        <value />
      </setting>
      <setting name="OutputTxtBox" serializeAs="String">
        <value />
      </setting>
      <setting name="MachO" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="RememberWindowPosition" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="AutoSetDir" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="CheckForUpdate" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ExtBinaryChkBox" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ghidra" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ghidra_with_struct" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ida" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ida_py3" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ida_with_struct" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ida_with_struct_py3" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ExtDatChkBox" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Location" serializeAs="String">
        <value>0, 0</value>
      </setting>
      <setting name="AndroArch" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="ghidra_wasm" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="il2cpp_header_to_ghidra" serializeAs="String">
        <value>False</value>
      </setting>
    </Il2CppDumper.Properties.Settings>
  </userSettings>
	<appSettings>
		<add key="EnableWindowsFormsHighDpiAutoResizing" value="true" />
	</appSettings>
</configuration>
